/*display:noneを使用していない*/
.block-contents1 {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.block-contents1 p {
    background-color: skyblue;
    color: white;
}

/*display:noneを使用している*/
/*開発ツールF12を押下してソースが削除されているのではなく
　あくまで非表示にしているということを説明する*/
.block-contents2 {
    border: 1px solid black;
    margin-bottom: 2rem;
    /*display:noneを使用*/
    display: none;
}

.block-contents2 p {
    background-color: orange;
    color: white;
}

